* {
  margin: 0;
}
body {
  background-color: #edf2f4;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  grid-gap: 2rem;
  margin-block-start: 2rem;
}
.Link {
  text-decoration: none;
  color: rgb(114, 113, 113);
}
.Link:is(:focus, :active, ) {
  background-color: aquamarine;
}
span {
  color: black;
}
.layout {
  display: block;
}
.crypto-card {
  opacity: 0;
}
.styles {
  opacity: 1;
  transition: 1.5s;
}
.coin-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: baseline;
  grid-row-gap: 3rem;
  grid-column-gap: 2rem;
  margin-block-start: 4rem;
}
.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
}

.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: repeating-conic-gradient(
    #0000,
    #f48b29 1deg 18deg,
    #0000 20deg 36deg
  );
  -webkit-mask: repeating-radial-gradient(
    farthest-side,
    #000 0 10%,
    #0000 0 20%
  );
  animation: h10 2s infinite linear;
}

.custom-loader::after {
  -webkit-mask: repeating-radial-gradient(
    farthest-side,
    #0000 0 10%,
    #000 0 20%
  );
  animation-direction: reverse;
}

@keyframes h10 {
  100% {
    transform: rotate(0.5turn);
  }
}
@media only screen and (max-width: 425px) {
  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .coin-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
#news-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
  overflow: hidden;
}
